services:
  # Backend
  - type: web
    name: departments-backend
    env: docker
    rootDir: backend
    dockerfilePath: Dockerfile
    numInstances: 1
    plan: starter
    autoDeploy: true
    envVars:
      - key: PORT
        value: "4000"
      - key: JWT_SECRET
        value: "super-secret-key"
      - key: DATABASE_URL
        fromDatabase:
          name: dbname
          property: connectionString
      - key: FRONTEND_URL
        value: "https://departments-frontend.onrender.com"
    healthCheckPath: /health

  # Frontend
  - type: web
    name: departments-frontend
    env: docker
    rootDir: frontend
    dockerfilePath: Dockerfile
    numInstances: 1
    plan: starter
    autoDeploy: true
    envVars:
      - key: NEXT_PUBLIC_API_URL
        value: "https://departments-backend-cm26.onrender.com"

databases:
  - name: dbname
    plan: free
